@font-face {
    font-family: 'Larsseit-Regular';
    src: local('../fonts/regular/Larsseit Regular'), local('Larsseit-Regular'),
        url('../fonts/regular/Larsseit.woff2') format('woff2'),
        url('../fonts/regular/Larsseit.woff') format('woff'),
        url('../fonts/regular/Larsseit.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Larsseit-Medium';
    src: local('../fonts/medium/Larsseit Medium'), local('Larsseit-Medium'),
        url('../fonts/medium/Larsseit-Medium.woff2') format('woff2'),
        url('../fonts/medium/Larsseit-Medium.woff') format('woff'),
        url('../fonts/medium/Larsseit-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Larsseit-Bold';
    src: local('../fonts/bold/Larsseit Bold'), local('Larsseit-Bold'),
        url('../fonts/bold/Larsseit-Bold.woff2') format('woff2'),
        url('../fonts/bold/Larsseit-Bold.woff') format('woff'),
        url('../fonts/bold/Larsseit-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }