.hero {
    
    &__header {
        width: 100%;
        height: 80px;
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 6;
    }
}