.hero {
    
    &__header {
        width: 75%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 6;
        position: absolute;
        top: 27px;
        left: 50%;
        transform: translateX(-50%);
    }
}