.hero {
    
    &__header {
        width: 1080px;
        height: 80px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 6;
        position: fixed;
        top: 8px;
        left: 50%;
        transform: translateX(-50%);
        //background-color: rgba($color: #FFF, $alpha: .5);
    }
}