.hero {

    &__logo {
        font-family:  'Larsseit-Bold', sans-serif;
        color: $main-color;
        font-size: 24px;

        @media (max-width: 767px) {
            order: 2;
        }
    }
}