.hero {

    &__info {
        width: 75%;;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 6;
        left: 50%;
        transform: translateX(-50%);
        top: 241px;
    }
}