.hero {
    max-width: 1440px;
    min-height: 840px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;

    // &_hamburger {
    //     display: none;
    //     position: absolute;
    //     top: 50px;
    //     right: 50px;

    //     @media (max-width: 768px) {
    //         display: block;
    //     }
    // }
}