$main-color: #62D0DF;
$hero-bg-color: #F4F9E2;
$dark-text: #22356F;
$light-text: rgba($color: #22356F, $alpha: .5); 
$get-link: #F9B640;

// services  items bg-color
$pink: #FFE2DE;
$mint: #C4E769;
$blue: #0052C1;
$light-purple: #DEE1FF;
$purple: #8F00FF;