.hero {

    &__blue-layer {
        width: 700px;
        height: 550px;
        position: absolute;
        background-color: $light-blue;
        border-radius: 243px / 300px;
        transform: rotate(-56deg);
        top: 0;
        right: -118px;
        z-index: 2;
    }
}